<h3>Top Participants</h3>
<span style="position:absolute;top:10px;right:10px;"> update in {{lastUpdate}}</span>
<table class="table leader-board">
	<thead>
		<tr>
			<th>Github User</th>
			<th>Score</th>
			<th>Last Activity</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="entry in usersScore | orderBy:score:reverse" ng-init="activity = showActivity(entry.lastActivity)">
			<td>
				<a href="https://github.com/{{entry.username}}">
					<div id="avatar">
						<img ng-src="{{gravatarUrl(entry.gravatarId)}}" alt="" />
					</div>
					{{entry.username}}
				</a>
			</td>
			<td>{{entry.score}}</td>
			<td>
				<span>{{activity.content}}</span>
				<span am-time-ago="activity.time"></span>
			</td>
		</tr>
	</tbody>
</table>
