<h3>Top Participants</h3>

<table class="table leader-board">
	<thead>
		<tr>
			<th>Github User</th>
			<th>Score</th>
			<th>Last Activity</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="entry in usersScore | orderBy:score:reverse">
			<td>
				<a href="https://github.com/{{entry.username}}?tab=activity">
					<div id="avatar">
						<img ng-src="{{gravatarUrl(entry.gravatarId)}}" alt="{{entry.username}}"/>
					</div>
					{{entry.username}}
				</a>
			</td>
			<td>{{entry.score}}</td>
			<td>
				<span>{{entry.lastActivity|githubActivity}} @
					<a ng-href="http://github.com/{{entry.lastActivity.repo.name}}" target="_blank">
						{{entry.lastActivity.repo.name}}</a>
				</span>,
				<span class="timestamp" am-time-ago="entry.lastActivity.created_at"></span>
			</td>
		</tr>
	</tbody>
</table>
