<h3>Top Participants</h3>
<table class="table leader-board">
	<thead>
		<tr>
			<th>Github User</th>
			<th>Score</th>
			<th>Last Activity</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="entry in usersScore | orderBy:score:reverse">
			<td>
				<a href="https://github.com/{{entry.username}}">
					<div id="avatar">
						<img ng-src="{{gravatarUrl(entry.gravatarId)}}" alt=""/>
					</div>
					{{entry.username}}
				</a>
			</td>
			<td>{{entry.score}}</td>
			<td>
				<span>
				{{activities[entry._id].content}}
				</span>
				<span am-time-ago="activities[entry._id].content"></span>
			</td>
		</tr>
	</tbody>
</table>
