<h2>ng-coding Prizes</h2>

<table class="table">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Prize</th>
			<th>Sponsor</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>
				1
			</th>
			<td>
				Macbook
			</td>
			<td>
				<img src="images/sponsors/wix.jpg" alt="Wix" />
			</td>
		</tr>
		<tr>
			<th>
				2
			</th>
			<td>
				Nexus 7
			</td>
			<td>
				<img src="images/sponsors/campus-tlv.png" alt="Campus Tel Aviv" />
			</td>
		</tr>
		<tr>
			<th>
				3
			</th>
			<td>
				Nexus 7
			</td>
			<td>
				<img src="images/sponsors/codeoasis.png" alt="CodeOasis" />
			</td>
		</tr>
		<tr>
			<th>
				4-5
			</th>
			<td>
				One Month Techome Membership
			</td>
			<td>
				<img src="images/sponsors/techome.jpg" alt="Techome" />
			</td>
		</tr>
		<tr>
			<th>
				6-15
			</th>
			<td>
				Angular.JS Books
			</td>
			<td>
				<img src="images/sponsors/cloudlock.jpg" alt="CloudLock" />
			</td>
		</tr>

	</tbody>
</table>
