<div ui-view>
	<a ui-sref="contributions.create">Create new</a>
</div>

<h3>Open Contributions</h3>

<table class="table contributions">
	<thead>
		<tr>
			<th width="20%" ng-click="setSort('title')">Title</th>
			<th width="10%" ng-click="setSort('score')">Score</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="contribution in contributions|orderBy:sort.field:sort.ascending">
			<td>
				<a href="{{contribution.link}}" target="_blank">{{contribution.title}}</a>
			</td>
			<td>{{contribution.score}}</td>
			<td>
				<button class="btn btn-xs btn-primary work-on-this">Work on this</button>
			</td>
		</tr>
	</tbody>
</table>
