
<h3>{{contribution.title}}</h3>
<h3>Score: {{contribution.score}}</h3>
<span>Edit Score:</span> <input type="text" ng-model="newScore"> <span><button ng-click="updateScore()" class="btn btn-default" name="button">Submit</button></span>
<p>
  Description: <br>
  {{contribution.description}}
</p>
<p>
  Link to issue:
</p>
<a href="{{contribution.link}}" target='_blank'>{{contribution.link}}</a>
<table class="table contributions">
  <thead>
    <tr>
      <th width="20%" ng-click="setSort('title')">User</th>
      <th width="10%" ng-click="setSort('score')">Score</th>
      <th>last Activity</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users" >

      <td>
        {{user.username}}
      </td>
      <td>{{user.score}}</td>
      <td>
        {{user.lastActivity.repo.name}}
      </td>
      <td>
        <span ng-if="user.pointsConfirmed">Points Confirmed!</span>
        <button ng-click="makeWinner(user)" class='btn btn-success'>Confirm (gives points)</button>
      </td>
      <!-- <td>
        <button ng-click="unassignMe(contribution)" class='btn btn-xs btn-danger'>Stop Working</button>
        <button  ng-click="assignMe(contribution)" class="btn btn-xs btn-primary work-on-this">Work on this</button>
      </td>
      <td>
        <span ng-if="isWinner(contribution)"><i class ="glyphicon glyphicon-ok"></i></span> -->
      </td>
    </tr>
  </tbody>
</table>
